*{
    margin: 0rem;
}
body{
    display: grid;
    grid-template: "title" 3rem
    "inp" 17rem
    "output" 1fr/ 1fr;
    background: #355872;
}
.title{
    grid-area: title;
    justify-self: center;
    align-self: center;
    margin-top: 2rem;
    color: #ff9d00;
}
.input_box{
    grid-area: inp;
    display: grid;
    grid-template: 
        "inpTexT" 1fr
        "Btn" 1fr
        / 1fr;
    justify-self: center;
    align-self: center;
    background: #F4F0E4;
    margin: 2rem;
    width: 30rem;
    height: 10rem;
    padding: 1rem;
    border-radius: 10px;
    border: solid #9CD5FF;
}
input{
    grid-area: inpTexT;
    margin-bottom: 0.2rem;
}
button{
    grid-area: Btn;
    width: 10rem;
    height: 3rem;
    justify-self: center;
    align-self: center;
    margin-top: 1rem;
}
.output{
    grid-area: output;
    justify-self: center;
}
.todo{
    display: grid;
    grid-template: "todo del" 1fr/1fr;
    background: #F6F3C2;
    width: 20rem;
    height: 5rem;
    border-radius: 5px;
    border: solid 0.2rem;
    margin-bottom: 1rem;
}
.todo :first-child{
    grid-area: todo;
    align-self: center;
    margin-left: 1rem;
}
.todo :last-child{
    grid-area: del;
    align-self: center;
    margin: -1rem 0.5rem 1rem 1rem;
    background: #fe0404;
    border: solid black;
    border-radius: 5px;
    width: 4rem;
    height: 2rem;
}
.todo :last-child:active{
    background: #9f0505;
}